Files
WpfApp5/obj
WpfApp5/bin
.idea
.vs
.sln
WpfApp5/Flarial.Launcher.csproj
*.rsp
/Flarial.Installer/obj
/Flarial.Installer/bin
/Flarial.Minimal/obj
/Flarial.Minimal/bin
Flarial.Minimal/obj/Release/Flarial.Minimal.csproj.AssemblyReference.cache
/Flarial.Installer/Flarial.Installer.csproj.user
